:root {
  /* General Colors */
  --grey-blue-dark: #1A202E;
  --grey-blue-mid: #292f3e;

  --grey-lightest: #dfe1e6;
  --grey-light: #9ba7b3;
  --white: #fff;

  --red-mid: #c14834;
  --red-light: #eec6b7;

  --brand-teal: #4fd1c5;
  --brand-teal-accent: #00ab9f;
  --brand-teal-light-transparent: rgba(126, 226, 215, 0.16);
  --brand-teal-dark: #319795;
  --brand-teal-desaturated: #8faba8;

  /* Background colors */
  --bg-color-main: #ebf8ff;
  --bg-color-white: var(--white);
  --bg-color-dark: var(--grey-blue-dark);
  --bg-color-mid: var(--grey-blue-mid);
  --bg-color-light: var(--grey-light);

  /* Text colors */
  --text-main-color: #1a202c;
  --text-main-color-mid: #2d3748;
  --text-main-color-mid-light: #718096;
  --text-main-color-light: #4a5568;
  --text-blue-color-light: #bee3f8;

  --disabled-border-color: #e2e8f0;
  --disabled-text-color: #e2e8f0;

  /* text sizes */
  --text-xs: 0.750rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;

  /* screens */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;

  /* gaps */
  --gap-2: .5rem;
  --gap-3: .75rem;
  --gap-4: 1rem;
  --gap-5: 1.25rem;
  --gap-8: 2rem;
  --gap-10: 2.5rem;

  /* sizes */
  --width-xl: 42rem;
  --width-32: 8rem;

  /* FXs */
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
