{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@com/",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
