{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "always",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "importOrder": [
    "server-only",
    "<THIRD_PARTY_MODULES>",
    "^@easybread/",
    "^saas-",
    "^playground-",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./apps/saas/app/app/global.css",
  "tailwindConfig": "./apps/saas/app/tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "customFunctions": ["clsx", "cn", "cva"]
}
